# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
IOS_Build/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.apk
*.main.obb 
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db

# ============== #
# UNITYVS PLUGIN #
# ============== #

UnityVS*
